<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
            "https://rubyonrails.org/" %>

<!--  <h1>Home#index</h1>-->
<!--  <p>Find me in app/views/home/index.html.erb</p>-->
  <p></p>
  <h3>Device User</h3>
  <% if device_user_signed_in? %>
    <span>Здравствуйте, <%= current_device_user.email %></span>
    <%= link_to 'Выйти', destroy_device_user_session_path, :method => :delete %>
    <%= link_to 'Редактировать профиль', edit_device_user_registration_path %>

  <% else %>
    <%= link_to 'Войти', new_device_user_session_path %> или <%= link_to 'Зарегистрироваться', new_device_user_registration_path %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>